.site-container  {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;

}
.brand{
background-color: #1a212b;
display: flex;
justify-content:space-between;
margin: 0 200px;
}
.site-title{
    display: flex;
    color: #fff;
    text-decoration: none;
}
.menu{
    display: flex;
}

.dropbtn {
    background-color: #1a212b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    text-decoration: underline;  
    background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    color: black;
  }

.ktcb{
    height: 89.6px;
    padding: 32px 15px;
    border: 1px solid rgba(255,255,255,.1);
}
.login{
    margin-top: 40px;
    margin-left: 650px;
    position: absolute;
}
.img{
    width: 100%;
    height: 200px;
    background-size:cover ;
    background-position: center;
    position: relative;
}

#main {
  
    margin: auto;
    
    display: flex;
    justify-content: space-evenly;


}

#main #left {
    width: 750px;
    margin-left: 150px;
    float: left;
    
}

#main #left ul {
    padding: 0px;
    margin: 0px;
}

#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

#main #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li h2 {
    font-size: 20px;
    margin-top: 0px;
}

#main #left ul li h2:hover {
    color: orange;
    text-decoration: underline;
}

#main #right {
    width: 250px;
    margin-right: 150px;
    float: right;
}

#main #right h2 {
    background-color: royalblue;
}

#main #right form button {
    float: right;
    color: red;
}

#main #right ul {
    border: 1px solid #cccccc;
    background-color: rgba(17, 9, 9, 0.068) ;
}
#main #right ul li {
    display: block;
    line-height: 32px;
    border-bottom: 1px solid #cccccc; 
    margin-left: -25px; 
    
}

#main #right ul li:hover {
    color: orange;
    text-decoration: underline;
}

.timkiem {
    margin-top: auto;
    margin-left: auto;
 
}

#list-timkiem{
    list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
 
}
#list-timkiem li a{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
  color: black;
  display: block;
  
  

  
}
#list-timkiem li{
    list-style: none;
    
}

.footer{
    background-color:rgba(17, 9, 9, 0.068); ;
    height: 150px;
    margin: auto;
}
.linkfooter{
    
    padding-left: 10px;
}

